@font-face {
    font-family: 'SpaceLight';
    src: url('https://static.viktoriarakhely.eu/assets/fonts/SpaceGrotesk-Light.ttf');
}

@font-face {
    font-family: 'SpaceBold';
    src: url('https://static.viktoriarakhely.eu/assets/fonts/SpaceGrotesk-Bold.ttf');
}

@font-face {
    font-family: 'SpaceMedium';
    src: url('https://static.viktoriarakhely.eu/assets/fonts/SpaceGrotesk-Medium.ttf');
}

@font-face {
    font-family: 'SpaceSemiBold';
    src: url('https://static.viktoriarakhely.eu/assets/fonts/SpaceGrotesk-SemiBold.ttf');
}

@font-face {
    font-family: 'Nasa';
    src: url('https://static.viktoriarakhely.eu/assets/fonts/nasalization-rg.otf');
}

@font-face {
    font-family: 'Raleway';
    src: url('https://static.viktoriarakhely.eu/assets/fonts/Raleway-VariableFont_wght.ttf');
}
