#hero {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: radial-gradient(circle at center, #111111 20%, black 100%);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeIntro {
    padding-top: 10vh;
    text-align: center;
    color: white;
}

.homeText {
    font-size: 10vh;
    text-shadow: 3px 3px black;
    font-family: Raleway;
    font-weight: 0;
    color: white;
    padding-bottom: 20px;
    line-height: 90px;
}

.homeJ {
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-family: Nasa;


}

#homeIcon {
    position: relative;
    z-index: 999;
}

#particle-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.scrollDown {
    position: relative;
    z-index: 999;
    display: none;
}


.hero-content .list-social li {
    float: left;
    margin-right: 20px;
}

.hero-content .list-social li i {
    color: #fff;
    font-size: 15px;
}

.invisible-iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}


@media screen and (orientation: portrait) and (max-height: 900px) {

    .scrollDown {
        display: block !important;
        animation: jump 1s infinite alternate;
        padding-top: 10vh;
    }

    @keyframes jump {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
}

@media screen and (orientation: landscape) and (max-width: 900px) {

    .homeText {
        padding-top: 20vh;
    }

    .scrollDown {
        display: block !important;
        animation: jump 1s infinite alternate;
        padding-top: 2vh;
    }

    @keyframes jump {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
    svg {
        filter: drop-shadow(0 0 10px #fff);
    }

    .homeText {
        font-size: 70px !important;
    }

    #game {
        width: 100vw;
        height: 100vh;
    }
}
