
.services-block span {
    margin: 10px 0;
    position: relative;
    font-size: 13px;
    color: #292929;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}

.services-block .separator {
    margin: 0;
    font-size: 17px;
    line-height: 22px;
}

.services-block i {
    font-size: 44px;
    color: #e4d5f7;
    line-height: 44px;
}

.services-slider .swiper-pagination {
    margin-top: 30px;
    position: relative;
}

.services-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid black;
}

.services-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: black;
    box-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 30px purple, 0 0 40px purple;
}


#bottomSkills {
    position: relative;
    font-weight: 900;
    padding-left: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    text-shadow: 2px 2px black;
    z-index: 999;
}

#skills {
    color: white;
    text-shadow: 2px 2px black;
}


#skills2 {
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px black;
}


#glow {
    font-size: 15px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    text-decoration: underline;
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;

    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@media screen and (max-width: 768px) {
    #services {
        background-size: cover;
    }
}
