
body {
    background: #ffffff;
    color: #898989;
    font-family: SpaceBold;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

}

h1,
h2,
h3 {
    font-family: SpaceBold;
}

h4,
h5,
h6 {
    margin: 0;
}

h2 {
    color: #292929;
    font-weight: 600;
}

h4 {

    font-size: 14px;
    font-weight: 50;
    line-height: 35px;
    text-decoration-color: white;
}

#hrUp {
    margin-top: 20px;
    border-top: 3px solid #bbb;
}

#hrDown {
    margin-top: 50px;
    border-top: 3px solid #bbb;
}

a:link {
    color: #65507e;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #e4d5f7;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
}

a.contact {
    color: black;
}

a.contact:hover {
    text-decoration: underline;
}


#glow {
    font-size: 15px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    text-decoration: underline;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;

    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

p {
    margin: 25px 0;
    padding: 0;
    font-size: 15px;
    color: #999999;
    line-height: 28px;
}

#greetings {
    position: relative;
}

#greetings::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 1px solid white;
    opacity: 0;
}

#greetings.animate-border::before {
    opacity: 1;
    animation: drawBorder 3s forwards;
}

@keyframes drawBorder {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 100%;
        height: 0;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

#title {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

#title.visible {
    opacity: 1;
    transform: translateY(0);
}

#first {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-in-out;
}

#first.visible {
    opacity: 1;
    transform: translateY(0);
}

#second {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-in-out;
}

#second.visible {
    opacity: 1;
    transform: translateY(0);
}

#third {
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease-in-out;
}

#third.visible {
    opacity: 1;
    transform: translateX(0);
}

#fourth {
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease-in-out;
}

#fourth.visible {
    opacity: 1;
    transform: translateX(0);
}

#fifth {
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease-in-out;
}

#fifth.visible {
    opacity: 1;
    transform: translateX(0);
}


.skillStart:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 170px;
    background-image: url(../img/waves.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

#glowSkill {
    font-size: 20px;
    word-spacing: 30px;
}

#bottomSkills {
    position: relative;
    font-weight: 900;
    padding-left: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    text-shadow: 2px 2px black;
    z-index: 999;
}

#skills {
    color: white;
    text-shadow: 2px 2px black;
}

#skills2 {
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px black;
}

#quote {

    border-bottom: 1px solid white;
    line-height: 1px;
    margin: 10px 0 20px;

}

#spanQuote {
    font-family: SpaceLight;
    color: white;
    font-size: 20px;
    background: black;
    padding: 0 10px;
}

#cvTitle {
    padding-top: 15vh;
}

.background-planetSide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 20vh;
}

#planetSide {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

#planet {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 3s ease-in-out;
}

#planet.visible {
    opacity: 1;
    transform: translateY(0);
}


.background-moon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 35%;
    background-position: right bottom;
    background-repeat: no-repeat;
    z-index: 0;

}

.moon {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;

}

#moon {
    opacity: 0;

    transition: all 1s ease-in-out;

}

#moon.visible {
    opacity: 1;
    transform: translateX(0);
}


#intro {
    font-family: SpaceLight;
    position: relative; /* Ensure the text elements are positioned within their stacking context */
    z-index: 2;
    padding: 30px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;

}

#intro.visible {
    opacity: 1;
    transform: translateY(0);
}

#download-link {
    position: relative;
    z-index: 5;
}


#whole {

    background-color: black;
}

.contactLine {
    padding-bottom: 20px;
    font-size: 20px;

}

#cont {
    position: relative;
    padding: 2%;
    width: 60%;
    height: 40%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 50px;
    background-color: black;
    color: black;
}

#cont > .content-wrapper > .row > .col-lg-6 > .about-descr > h4 > a > img {
    opacity: 1;
}

.second_line_c {
    opacity: 1;
    animation: flickerI 2s linear reverse infinite;
}

.second_line_c::after {
    content: '';
    width: 150%;
    -webkit-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
    -moz-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
    box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
}

.first_line_c {
    animation: flickerLG 2s linear reverse infinite;
    position: relative;
}

.second_line_c::after,
.second_line_c::before {
    content: ' ';
    width: 100px;
    height: 100px;
    background: white;
    position: absolute;
    top: -50%;
    left: 100%;
    border-radius: 100%;
    opacity: 0.01;
    filter: blur(10px);
}

.second_line_c::after {
    width: 200px;
    height: 200px;
    top: -150%;
    left: -500%;
    opacity: 0.1;
    filter: blur(10px);
}

.third_line_c {
    animation: flickerH 2s linear reverse infinite
}

@keyframes flickerI {
    0% {
        opacity: 0.4;
    }
    5% {
        opacity: 0.5;
    }
    10% {
        opacity: 0.6;
    }
    15% {
        opacity: 0.85;
    }
    25% {
        opacity: 0.5;
    }
    30% {
        opacity: 1;
    }
    35% {
        opacity: 0.1;
    }
    40% {
        opacity: 0.25;
    }
    45% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.85;
    }
    80% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flickerLG {
    0% {
        opacity: 0.19;
    }
    5% {
        opacity: 0.2;
    }
    10% {
        opacity: 0.25;
    }
    15% {
        opacity: 0.35;
    }
    25% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.4;
    }
    35% {
        opacity: 0.1;
    }
    40% {
        opacity: 0.25;
    }
    45% {
        opacity: 0.2;
    }
    60% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.35;
    }
    80% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes flickerH {
    0% {
        opacity: 0.15;
    }
    5% {
        opacity: 0.2;
    }
    10% {
        opacity: 0.12;
    }
    15% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.15;
    }
    30% {
        opacity: 0.4;
    }
    35% {
        opacity: 0.05;
    }
    40% {
        opacity: 0.12;
    }
    45% {
        opacity: 0.15;
    }
    60% {
        opacity: 0.3;
    }
    70% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.18;
    }
    100% {
        opacity: 0.3;
    }
}


.light-spot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.9) 50%, black 100%);
    animation: light-up 5s forwards;
}

@keyframes light-up {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

h4 > a, h4 > img {
    color: black;
    filter: invert(1);
}

.content-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    margin-left: 2%;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #e4d5f7;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 5px;
}

.glow-on-hover:before {

    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover.touch-device:before {
    opacity: 1;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


@media screen and (max-width: 768px) {


    .content-wrapper {
        margin-left: 8%;
    }

    .background-planetSide {
        background-size: 50%;
    }

    .background-moon {
        background-position: center bottom;
        background-size: 60%;
    }

    #cont {
        width: 90%;
    }


    #glowSkill {
        line-height: 1vh;
        word-spacing: 0;
        font-size: 12px;
    }

    #quote {
        line-height: 25px;
    }

}

@media screen and (max-height: 768px) {


    .content-wrapper {
        margin-left: 8%;
    }

    .background-planetSide {
        background-size: 50%;
    }


    .background-moon {
        background-position: center bottom;
        background-size: 60%;

    }

    #glowSkill {
        line-height: 5vh;
    }

    #quote {
        line-height: 25px;
    }

}


@font-face {
    font-family: 'SpaceLight';
    src: url(../fonts/SpaceGrotesk-Light.ttf);
}

@font-face {
    font-family: 'SpaceBold';
    src: url(../fonts/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: 'SpaceMedium';
    src: url(../fonts/SpaceGrotesk-Medium.ttf);
}

@font-face {
    font-family: 'SpaceSemiBold';
    src: url(../fonts/SpaceGrotesk-SemiBold.ttf);
}

@font-face {
    font-family: 'Nasa';
    src: url(../fonts/nasalization-rg.otf);
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}


#cvBody {
    margin-top: 20px;
    padding: 30px;
}

#bod1 {
    position: relative;
    z-index: 2;
    outline: 3px dashed white;
}

#bodyText1 {
    position: relative;
    z-index: 0;
    padding-top: 10vh;
    padding-left: 2vw;
    opacity: 0;
    transform: translateY(50px); /* Element starts 50px below its original position */
    transition: all 1s ease-in-out;
}

#bodyText1.visible {
    opacity: 1;
    transform: translateY(-50px); /* Element moves 50px above its original position */
}


#bod2 {
    position: relative;
    z-index: 2;
    outline: 3px dashed white;
}

#bodyText2 {
    position: relative;
    z-index: 2;
    padding-top: 10vh;
    padding-left: 2vw;
    padding-right: 1vw;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
    word-break: break-all;

}

#bodyText2.visible {
    opacity: 1;
    transform: translateY(-50px); /* Element moves 50px above its original position */
}

#cvh {
    padding-top: 20px;
}

.brCv {
    margin-bottom: 20px;
}

#main {
    background-color: black;
}

#skill {
    margin-left: 1%;
    border-radius: 5px;
    padding: 2px;
    background-color: #e4d5f7;
    color: #602a70;
    font-weight: bolder;
    border: 1px solid black;
    box-shadow: 3px 3px;
}

#game-container {
    border-radius: 10px;
    border: 5px solid transparent;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    animation: glowing 20s linear infinite, glow-animation 1.5s infinite alternate;
    box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.5);
    padding: 0;
    margin: 0;


}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes glow-animation {
    from {
        box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.3);
    }
    to {
        box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.5);
    }
}


#spaceGame {
    background: black;
}

#game {
    background-color: #111;
    position: relative;
}

#spaceGame .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#buttons-container {
    text-align: center;
    margin-top: 10px;
}

@media screen and (orientation: landscape) and (max-width: 900px) {

    .homeText {
        padding-top: 20vh;
    }


    .scrollDown {
        display: block !important;
        animation: jump 1s infinite alternate;
        padding-top: 10vh;
    }

    @keyframes jump {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
    svg {
        filter: drop-shadow(0 0 10px #fff);
    }
}

@media screen and (max-width: 900px) {

    .scrollDown {
        display: block !important;
        animation: jump 1s infinite alternate;
        padding-top: 10vh;
    }

    @keyframes jump {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
    svg {
        filter: drop-shadow(0 0 10px #fff);
    }

    .homeText {
        font-size: 70px !important;
    }

    #game {
        width: 100vw;
        height: 100vh;
    }
}

::-moz-selection {
    background: #e4d5f7;
    color: #fff;
}

::selection {
    background: #602a70;
    color: #fff;
}

.btn {
    background: black;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    width: 100%;

}

.btn:hover,
.btn:focus {
    color: #646464;
    font-weight: 400;
    font-family: SpaceBold;


}

.padDiv {
    padding: 30px 20px;
}

.section-title {
    margin-bottom: 70px;
}

.section-title h2 {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form-control {
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 0;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
    letter-spacing: 0.1em;
    padding-left: 10px;
    margin: 0 0 25px 0;
    line-height: 14px;
    text-transform: uppercase;
}

.form-control:focus {
    box-shadow: none;
    outline: 0 none;
}

.paddsection {
    padding-top: 90px;
    padding-bottom: 90px;
}

.paddsections {
    padding-top: 90px;
    padding-bottom: 90px !important;
}

.hvr-shutter-in-horizontal::before {
    background: #333;
}

.hvr-shutter-in-horizontal:hover {
    background: #e4d5f7;
}

.mb-30 {
    margin-bottom: 30px;
}

.main-content {
    padding-top: 140px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #e4d5f7;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #c6b398;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 1000;
    padding: 15px 0;
    background-color: black;
    top: -100%;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid #e4d5f7;
}

#header.header-scrolled,
#header.header-inner-pages {
    top: 0;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: SpaceBold;
    font-style: italic;
}

#header .logo a {
    color: #898989;
}

#header .logo img {
    max-height: 40px;
}

@media (max-width: 992px) {
    #header {
        border: 0;

    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #602a70;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #e4d5f7;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: black;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;

}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #e4d5f7;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation
*/

.mobile-nav-toggle {
    color: #e4d5f7;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    z-index: 1000;

}

.mobile-nav-toggle.bi-x {
    color: black;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: black;
    transition: 0.3s;

}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;

}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: black;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #e4d5f7;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #602a70;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: black;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #602a70;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: radial-gradient(circle at center, #111111 20%, black 100%);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeIntro {
    padding-top: 10vh;
    text-align: center;
    color: white;
}

.homeText {
    font-size: 10vh;
    text-shadow: 3px 3px black;
    font-family: Raleway;
    font-weight: 0;
    color: white;
    padding-bottom: 20px;
    line-height: 90px;
}

.homeJ {
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-family: Nasa;


}

#homeIcon {
    position: relative;
    z-index: 999;
}

#particle-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.scrollDown {
    position: relative;
    z-index: 999;
    display: none;
}


.hero-content .list-social li {
    float: left;
    margin-right: 20px;
}

.hero-content .list-social li i {
    color: #fff;
    font-size: 15px;
}

.invisible-iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 120px 0 0 0;
    background-color: white;
    min-height: 40px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        padding-top: 100px;
    }
}

@media (max-width: 992px) {
    #hero .hero-content {
        height: 160vh;
    }
}

@media (max-width: 992px) {
    .hero-content h1 {
        font-size: 30px;
    }
}


.breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

@media (max-width: 992px) {
    .breadcrumbs h2 {
        margin: 0 0 10px 0;
    }
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}

/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/
#about {
    width: 100%;
    height: auto;
    background: black;
    padding-top: 120px;
    position: relative;
    overflow: hidden;
}

#about .div-img-bg {
    padding-bottom: 35px;
    border: 20px solid #602a70;
    box-shadow: 2px 2px 85px 2px #434B4E;
}

#about .div-img-bg .about-img img {
    width: 105%;
    box-shadow: 2px 2px 85px 2px #434B4E;
    margin-top: -60px;
    margin-left: 40px;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
}

#about .about-descr .p-heading {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    text-align: left;
}

#about .about-descr .separator {
    max-width: 80%;
    margin-bottom: 0;
    text-align: left;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
    background: url(../img/space.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
    padding-bottom: 80px;
    padding-top: 30px;
}

.services-block span {
    margin: 10px 0;
    position: relative;
    font-size: 13px;
    color: #292929;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}

.services-block .separator {
    margin: 0;
    font-size: 13px;
    line-height: 22px;
}

.services-block i {
    font-size: 44px;
    color: #e4d5f7;
    line-height: 44px;
}

.services-slider .swiper-pagination {
    margin-top: 30px;
    position: relative;
}

.services-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid black;
}

.services-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: black;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio:before {
    content: '';
    position: absolute;
    top: -170px;
    left: 0;
    width: 100%;
    height: 170px;
    background-image: url(../img/wavesNegative2.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: 1;
}


#portfolio {
    background: black;
    position: relative;
    padding-bottom: 50px;
}

.dot {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
}

#portfolio #portfolio-flters {

    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

#portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
    color: #e4d5f7;
}

#portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

#portfolio .portfolio-item {
    margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
}

#portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #666;
    font-weight: 600;
    margin-bottom: 10px;
}

#portfolio .portfolio-item .portfolio-info p {
    color: #999;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#portfolio .portfolio-item .portfolio-info .preview-link,
#portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #e4d5f7;
}

#portfolio .portfolio-item .portfolio-info .preview-link:hover,
#portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #cab89f;
}

#portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
}

#portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 20px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #e4d5f7;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #e4d5f7;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(75, 74, 74, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/
#journal,
#journal-blog {
    height: auto;
    width: 100%;
    background: #f7f7f7;
    padding-bottom: 60px;
    position: relative;
}

#journal-blog {
    background: #fff;
    padding-bottom: 30px;
}

#journal .journal-block {
    display: inline-block;
    height: auto;
    width: 100%;
}

#journal .journal-block .journal-info {
    position: relative;
}

.journal-block .journal-info img {
    max-width: 100%;
}

.journal-block .journal-info .journal-txt {
    padding: 25px 0px;
    position: relative;
}

.journal-block .journal-info .journal-txt h4 a {
    display: block;
    font-size: 19px;
    line-height: 24px;
    margin: 0 0 13px 0;
    font-weight: 500;
    color: black;
    transition: all 0.5s ease-in-out 0s;
}

.journal-block .journal-info .journal-txt h4 a:hover {
    color: #e4d5f7;
    transition: all 0.5s ease-in-out 0s;
}

.journal-block .journal-info .journal-txt p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}

/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/
#contact {
    height: auto;
    width: 100%;
}

.contact-details {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-details li {
    padding-bottom: 10px;
}

#contact input,
#contact textarea {
    width: 100%;
    margin-bottom: 5px;
}

#contact textarea {
    min-height: 160px;
}

.php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

.php-email-form .error-message br + br {
    margin-top: 25px;
}

.php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
/*  Navbar fixd page */
.subpage-nav {
    display: block !important;
}

/*-----------------------------------------------------------------------------------*/
/*  /* Single page */
/*-----------------------------------------------------------------------------------*/
#journal-blog {
    padding-top: 140px;
}

/* main content */
.main-content {
    background: #f7f7f7;
}

.main-content .container-main {
    display: inline-block;
    width: 100%;
}

.main-content .container-main .block-main {
    margin-bottom: 30px;
    overflow: hidden;
}

.container-main .block-main .content-main {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    width: 100%;
}

.journal-txt h4 a {
    display: block;
    font-size: 19px;
    line-height: 24px;
    margin: 0 0 13px 0;
    font-weight: 500;
    color: black;
    transition: all 0.5s ease-in-out 0s;
}

.journal-txt h4 a:hover {
    color: #e4d5f7;
    transition: all 0.5s ease-in-out 0s;
}

.post-meta ul li {
    font-size: 12px;
    font-weight: normal;
    margin-left: 8px;
    margin-right: 8px;
    text-transform: capitalize;
    display: inline-block;
    float: none;
}

.content-main .post-meta a {
    color: black;
    margin-left: 5px;
}

/* Commonts */
.comments {
    background: #fff;
}

.entry-comments h6 {
    margin-right: 10px;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.entry-comments-item {
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #f2f2f2;
}

.entry-comments-avatar {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.entry-comments-body {
    padding-left: 86px;
}

.entry-comments-author {
    margin-right: 10px;
    font-size: 13px;
    color: black;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.rep {
    font-size: 13px;
    color: black;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: capitalize;
}

.entry-comments span a {
    font-size: 13px;
    color: black;
}

.entry-comments-reply {
    padding-left: 10%;
}

/* Commonts form */
.cmt {
    background: #fff;
}

blockquote {
    padding: 40px;
    background-color: #f2f2f2;
    margin: 30px 0;
    border: none;
    border-left: 4px solid #e4d5f7;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer .socials-media {
    width: 100%;
}

#footer .socials-media ul {
    display: inline-block;
    float: none;
    margin: 0 0 20px 0;
}

#footer .socials-media ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#footer .socials-media ul li a {
    font-size: 24px;
    color: #999;
    letter-spacing: 0.1em;
    font-weight: 500;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
    color: #e4d5f7;
    transition: all 0.5s ease-in-out 0s;
}

#footer p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-top: 0;
    text-transform: uppercase;
}

.credits {
    font-size: 13px;
}

/** Width between 1200x to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/** Width between 992px to 1199px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (min-width: 768px) and (max-width: 991px) {

    /* Navbar */
    nav {
        padding: 10px 15px;
    }

    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }

    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .responsive {
        float: right;
        padding-top: 15px;
        display: block;
    }

    /* About */
    .head-info .header-content .cmaster h1 {
        font-size: 32px;
    }

    #about .div-img-bg {
        padding: 0;
    }

    #about .div-img-bg .about-img img {
        margin-top: 0%;
        margin-left: calc(0% - 0px);
    }

    #about .about-descr .p-heading {
        font-size: 20px;
    }

    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }

    /* portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
        display: inline-block;
    }

    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }

    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }

    /* Footer */
    #footer .socials-media ul li {
        margin-right: 0;
        margin-left: 0;
        float: none;
        display: inline-block;
    }
}

/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 767px) {

    /* Navbar */
    nav {
        padding: 20px 15px;
    }

    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }

    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .responsive {
        float: right;
        padding-top: 15px;
        display: block;
    }

    /* About */
    .head-info .header-content h1 {
        font-size: 32px;
    }

    #about .div-img-bg {
        padding: 0;
    }

    #about .div-img-bg .about-img img {
        margin-top: 0%;
        margin-left: calc(0% - 0px);
    }

    #about .about-descr .p-heading {
        font-size: 20px;
    }

    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }

    /* portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
        display: inline-block;
    }

    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }

    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }

    /* Footer */
    #footer .socials-media ul li {
        margin-right: 0;
        margin-left: 0;
        float: none;
        display: inline-block;
    }
}

/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 600px) {

    /* Navbar */
    nav {
        padding: 20px 15px;
    }

    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }

    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .responsive {
        float: right;
        padding-top: 15px;
        display: block;
    }

    /* About */
    .head-info .header-content h1 {
        font-size: 32px;
    }

    #about .div-img-bg {
        padding: 0;
    }

    #about .div-img-bg .about-img img {
        margin-top: 0%;
        margin-left: calc(0% - 0px);
    }

    #about .about-descr .p-heading {
        font-size: 20px;
    }

    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }

    /* portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 10px;
        display: inline-block;
    }

    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }

    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }

    /* Footer */
    #footer .socials-media ul li {
        margin-right: 0;
        margin-left: 0;
        float: none;
        display: inline-block;
    }
}

/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 480px) {

    /* Navbar */
    nav {
        padding: 20px 15px;
    }

    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }

    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .responsive {
        float: right;
        padding-top: 15px;
        display: block;
    }

    /* About */
    .head-info .header-content h1 {
        font-size: 32px;
    }

    #about .div-img-bg {
        padding: 0;
    }

    #about .div-img-bg .about-img img {
        margin-top: 0;
        margin-left: calc(0% - 0px);
    }

    #about .about-descr .p-heading {
        font-size: 20px;
    }

    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }

    /* portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
    }

    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }

    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }

    /* Footer */
    #footer .socials-media ul li {
        margin-right: 0;
        margin-left: 0;
        float: none;
        display: inline-block;
    }
}

/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 320px) {

    /* Navbar */
    nav {
        padding: 20px 15px;
    }

    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }

    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .responsive {
        float: right;
        padding-top: 15px;
        display: block;
    }

    /* About */
    .head-info .header-content h1 {
        font-size: 32px;
    }

    #about .div-img-bg {
        padding: 0;
    }

    #about .div-img-bg .about-img img {
        margin-top: 0%;
        margin-left: calc(0% - 0px);
    }

    #about .about-descr .p-heading {
        font-size: 20px;
    }

    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }

    /* portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
    }

    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }

    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }

    /* Footer */
    #footer .socials-media ul li {
        margin-right: 0;
        margin-left: 0;
        float: none;
        display: inline-block;
    }

    /* Single page */
    .entry-comments-body span {
        display: inline-block;
        margin-right: 0;
    }
}
